.card {
  border-radius: 8px;
  animation-name: reverseScale;
  animation-duration: 0.4s;
  animation-fill-mode: reverse;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.card:hover {
  animation-name: scale;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  filter: brightness(1.1);
}

.card__content {
  margin: 24px 0 46px 24px;
}

.card__image {
  width: 100%;
  height: 160px;
  border-radius: 8px 8px 0 0;
}

.card__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  margin: 24px 0 16px 0;
  margin-bottom: 16px;
}

.card__info {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}
.card__info:last-child {
  margin-bottom: 0;
}

.card__info span {
  font-weight: 400;
  opacity: 0.7;
}

/* Themes */
.card.dark {
  background-color: #2b3844;
  color: #fff;
  transition: all 0.5s linear;
}

.card.light {
  background: #ffffff;
  color: #111517;
  transition: all 0.5s linear;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes reverseScale {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
