.nav {
  padding: 48px 80px 47px 80px;
  display: flex;
  justify-content: space-between;
}

.nav.dark {
  background-color: #202c36;
  color: #fff;
  transition: all 0.5s linear;
}

.nav.light {
  background-color: #f2f2f2;
  color: #111517;
  transition: all 0.5s linear;
}
