/* .detail-view {
  width: 100%;
} */

/* Themes could delete because main class in app */

/* .detail-view.dark {
  background-color: #202c36;
  color: #fff;
  transition: all 0.5s linear;
}

.detail-view.light {
  background-color: #f2f2f2;
  color: #111517;
  transition: all 0.5s linear;
} */
