*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2 {
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body.light {
  background-color: #f2f2f2;
  transition: all 0.5s linear;
}

body.dark {
  background-color: #202c36;
  transition: all 0.5s linear;
}

/* Testing */
.main {
  width: 100%;
  padding: 0 80px 47px 80px;
}

.main.dark {
  background-color: #202c36;
  color: #fff;
  transition: all 0.5s linear;
}

.main.light {
  background-color: #f2f2f2;
  color: #111517;
  transition: all 0.5s linear;
}

/* loader */
.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring.light div {
  border: 8px solid #111517;
  border-color: #111517 transparent transparent transparent;
}

.lds-ring.dark div {
  border: 8px solid #fff;
  border-color: #fff transparent transparent transparent;
}

/* Testing */
@media only screen and (max-width: 758px) {
  .main {
    width: 100%;
    padding: 0 27px 60px 27px;
  }

  .cards {
    grid-gap: 45px;
  }

  .nav {
    padding: 48px 74px 47px 74px;
  }
}

@media only screen and (max-width: 575px) {
  .main {
    width: 100%;
    padding: 0 27px 60px 27px;
  }
  .header {
    padding: 30px 16px;
  }

  .nav {
    padding: 24px 16px 47px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .filter__select {
    width: 200px;
  }

  .detail-card {
    flex-direction: column;
    gap: 44px;
  }

  .detail-card__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  .detail-card__content-block--2 {
    grid-column: 1;
  }

  .detail-card__text-element:last-child {
    margin-bottom: 32px;
  }

  .detail-card__sub-content {
    display: block;
    margin-top: 0;
  }

  .detail-card__sub-content .detail-card__text-element {
    margin-bottom: 16px;
  }

  .btn__nav {
    margin: 40px 0 64px 28px;
    padding: 10px 28px;
  }
}
