*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body.light {
  background-color: #f2f2f2;
  transition: all 0.5s linear;
}

body.dark {
  background-color: #202c36;
  transition: all 0.5s linear;
}

/* Testing */
.main {
  width: 100%;
  padding: 0 80px 47px 80px;
}

.main.dark {
  background-color: #202c36;
  color: #fff;
  transition: all 0.5s linear;
}

.main.light {
  background-color: #f2f2f2;
  color: #111517;
  transition: all 0.5s linear;
}

/* Testing */

@media only screen and (max-width: 500px) {
  .header {
    padding: 30px 16px;
  }
}
